QSlider::groove:horizontal {
background: white;
height: 3px;
}

QSlider::sub-page:horizontal {
background: #b3b3b3;
height: 3px;
}

QSlider::add-page:horizontal {
background: #767676;
height: 3px;
}

QSlider::handle:horizontal {
background: #c2c2c2;
width: 10px;
margin-top: -4px;
margin-bottom: -4px;
border: 1px solid #4e4e4e;
border-radius: 5px;
}

QSlider::handle:horizontal:hover {
background: white;
}
