QSlider::groove:horizontal {
background: white;
height: 3px;
}

QSlider::sub-page:horizontal {
background: #b3b3b3;
height: 3px;
}

QSlider::add-page:horizontal {
background: #767676;
height: 3px;
}

QSlider::handle:horizontal {
background: #c2c2c2;
}

QSlider::handle:horizontal:hover {
background: white;
}
